.nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1em 0;
    width: 100%;
    background: #fff;
    z-index: 1;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    height: 20px;
    width: auto;
}

.nav__phone {
    text-decoration: none;
    color: rgb(107, 107, 107);
    font-weight: 300;
}
