.autocomplete-dropdown-container {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.418);
    border-radius: 0 0 1px 1px;
    overflow: hidden;
    background: white;
    width: 100%;
    position: absolute;
    z-index: 3;
}

.suggestion-item {
    padding: 0.5em;
    cursor: pointer;
}

.suggestion-item--active {
    background: dodgerblue;
    color: white;
    font-weight: 600;
}
