.persuasive__groups {
    background: rgba(0, 0, 0, 0.025);
}

.persuasive__text-content {
    padding-top: 1.618em;
    padding-bottom: 1em;
}

@media (min-width: 800px) {
    .persuasive__group {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .persuasive__image {
        height: 100% !important;
    }

    .persuasive__group .persuasive__text-content {
        margin: 0 auto 0 0;
        padding: 1.618em;
        max-width: 575px;
    }

    .persuasive__group:last-of-type {
        display: grid;
        grid-template-areas: 'a b';
    }

    .persuasive__group:last-of-type .persuasive__text-content {
        grid-area: a !important;
        margin: 0 0 0 auto;
    }

    .persuasive__group:last-of-type .persuasive__image {
        grid-area: b !important;
    }
}
