.loan__buttons {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 1em;
}

.loan__small-text {
    color: gray;
    transition: color 0.25s;
}

.loan__small-text:hover {
    color: #ff0000;
}
