.landing {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.618em;
    position: relative;
    overflow: hidden;
}

.landing__background {
    position: absolute;
    height: 105%;
    width: 105%;
    z-index: -1;
}

.landing__card {
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    padding: 1em 0.75em;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.landing__input-n-form {
    display: grid;
    gap: 1em;
}
