.complete {
    background: linear-gradient(110deg, #ff416c, #ff0000 250%);
    min-height: 100%;
}

@media (min-width: 850px) {
    .complete__wrapper {
        display: grid;
        min-height: 100vh;
        grid-template-columns: 7fr 5fr;
        grid-gap: 1em;
    }
}
