.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.618em 0.618em 0;
    overflow: auto;
    position: relative;
    min-height: 100%;
    padding-top: 3.2em;
}

.form-container__background {
    position: absolute;
    height: 105%;
    width: 105%;
    z-index: -1;
    overflow: hidden;
}

.form-container__card {
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    max-width: 700px;
    margin: 3em auto;
    padding: 1em;
    border-radius: 1px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}
